<footer class="footer-block">

    <p>Circlearn 2018, All rights reserved.</p>

    <div class="footer-block__content">
      <ul>
        <li class="footer-block__legal-nav-item"> <a href="/#"> About</a> </li>
        <li class="footer-block__legal-nav-item"> <a href="/#">Contact Us</a> </li>
        <li class="footer-block__legal-nav-item"> <a href="/#">Privacy Policy</a> </li>
        <li class="footer-block__legal-nav-item"> <a href="/#">Terms and Condition</a> </li>
      </ul>
    </div>

</footer>
