.footer-container {
  display: block;
  bottom: 20px;
  position: absolute;
  padding-right: 30px;
  a {
    margin-right: 8px
  }
  .copyright {
    padding: 20px 0;
    font-weight: bold;
  }
  div {
    padding: 20px 0 0 0;
  }
}
