<div class="auth-form">

  <div class="auth-form--header">
    <img class="auth-form--img" src="../../assets/images/circlearn-logo.png" />
    <h2>Sign in to CircLearn</h2>
  </div>

  <form class="auth-form--body" [formGroup]="loginForm" (ngSubmit)="login()">

    <label for="username">Username or email address</label>
    <input type="text" name="username" id="username" [formControl]="username">

    <div [hidden]="username.valid || username.untouched">
      <div class="auth-error" [hidden]="!username.hasError('minlength')"> Username can not be shorter than 5 characters.</div>
      <div class="auth-error" [hidden]="!username.hasError('required')"> Username is required. </div>
    </div>

    <br>

    <label for="password">Password <a class="auth-forgot-password" href="">Forgot password?</a></label>
    <input type="password" name="password" id="password" [formControl]="password">

    <div [hidden]="password.valid || password.untouched">
      <div class="auth-error" [hidden]="!password.hasError('required')">The password is required.</div>
      <div class="auth-error" [hidden]="!password.hasError('ampersandRequired')">You must have an &amp; in your password.</div>
    </div>

    <br>

    <button class="auth-form-button" type="submit" [disabled]="!loginForm.valid">Sign in</button>

  </form>

  <p class="create-acc">New to CircLearn?  <a href=""> Create an account</a>.</p>

</div>
