@import "../modules/colors";
@import "typography";
@import "reset";

// Using Placeholder, Extends, and Inheritance

%grow { transition: all .1s ease-in-out; }

%button-shared{
  @extend %font-shared;
  @extend %grow;
  background: transparent;
  color: $color-primary;
  border: none;
  border-radius: 42px;
  padding: 6px;
  min-width: 80px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.button__icon {
  border: 2px solid $color-primary;
  color: $color-primary;
  border-radius: 50%;
  padding: 2px;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  line-height: 24px;
  cursor: pointer;
}

button {
  @extend %button-shared;
}

// Using mixin to add animation to buttons

@mixin transform($property) {
  transform: $property;
}

button {
  &:hover{}
  &:active{
    @include transform(scale(1.05));
  }
}

// Button modifiers classes

.success {
  @extend %button-shared;
  background-color: $color-go;
  color: $color-white;
}

.warning {
  @extend %button-shared;
  background-color: $color-destructive;
  color: $color-white;
}

.disabled {
  @extend %button-shared;
  background-color: $color-less;
  color: $color-white;
}

.primary {
  @extend %button-shared;
  background-color: $color-primary;
  color: $color-white;
}

.info {
  @extend %button-shared ;
  background-color: $color-info;
  color: $color-white;
}

.bright {
  @extend %button-shared;
  background-color: $color-bright;
  color: $color-white;
}
