@import "typography";
@import "../modules/colors";

%input-shared {
  @extend %font-shared;
  background: transparent;
  border: 1px solid #D3D3D3;
  width: 100%;
  min-height: 30px;
  padding: 6px 8px;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}

input,
textarea{
 @extend %input-shared;
}

.form-group {
  margin: 15px 0;
}

.form-span {
  font-size: 12px;
  color: $color-dark-less;
  margin: 4px 0 2px;
}

.auth-form {
  width: 340px;
  margin: 0 auto;
}

.auth-form--header {
  text-align: center;
  margin-bottom: 24px;
  h2 {
    color: $color-primary;
  }
}

.auth-form--img {
  width: 68px;
  height: 68px;
  margin: 32px 0 14px 0;
}
.auth-form--body {
  display:block;
  background-color: $color-white;
  border: 1px solid $color-less;
  border-radius: 5px;
  padding: 20px;
  transition: 1s;
}

.auth-form--body label  {
  display: block;
  margin-bottom: 7px;
}

.auth-form--body input {
  @extend %input-shared;
}

.auth-error {
  color: $color-destructive;
  background-color: $color-destructive--light;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 2px;
  animation: 1s auth-error-anim forwards;
}

@keyframes auth-error-anim {
  from {
    opacity:0;
    transform: translateY(-20px);
  }
  to {
    opacity:1;
    transform: translateY(0);
  }
}

input[type="text"]:valid {
  border-color: $color-go;
}

input[type="text"]:invalid {
  border-color: $color-destructive;
}

/* field value is valid */
.ng-valid {}

/* field value is invalid */
.ng-invalid {}

/* field has not been clicked in, tapped on, or tabbed over */
.ng-untouched {}

/* field has been previously entered */
.ng-touched {}

/* field value is unchanged from the default value */
.ng-pristine {}

/* field value has been modified from the default */
.ng-dirty {}

/* field has been unvisited and unchanged */
input.ng-untouched.ng-pristine {}

/* field has been previously visited, and is invalid */
input.ng-touched.ng-invalid {}

