@import "../modules/colors";
@import "buttons";
@import "typography";
@import "reset";

%input-shared {
  @extend %font-shared;
  background: transparent;
  border: 2px solid $color-less;
  border-radius: 42px;
  padding: 6px 12px;
}

.input--inactive {
  @extend %input-shared;
}

.input--active {
  @extend %input-shared;
  border-color: $color-primary;
}

.input--error {
  @extend %input-shared;
  border-color: $color-destructive;
}

.input--disabled {
  @extend %input-shared;
  border-color: $color-less;
  background-color: $color-less;
}

.input--button[type="button"] {
  @extend %button-shared;
}
