@import "../modules/colors";

%font-shared {
  // font: font-style font-variant font-weight font-size/line-height font-family;
  font: Normal Normal 400 14px/150% 'Roboto', sans-serif;
  margin: 0;
  letter-spacing: -.02em;
}

.subheading {
  @extend %font-shared;
  color: $color-less;
}

