%font-shared {
  // font: font-style font-variant font-weight font-size/line-height font-family;
  font: Normal Normal 400 14px/150% 'Roboto', sans-serif;
  letter-spacing: -.02em;
  text-decoration: none;
  text-align: left;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Tag color reset
h1, .h1 {
  color: $color-primary;
}

// Remove margins from headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  line-height: initial;
}

// Reset margins on paragraphs
p {
  margin: 0;
  display: inline-block;
}

// Media queries
@media only screen and (min-width: 320px) {
  h1, .h1{ font-size: 2rem;}
  h2, .h2{ font-size: 1.5rem;}
  h3, .h3{ font-size: 1.25rem;}
  h4, .h4{ font-size: 1rem;}
  h5, .h5{ font-size: .75rem;}
  h6, .h6{ font-size: .5rem;}
}

@media only screen and (min-width: 600px) {
  h1, .h1{ font-size: 2.25rem;}
  h2, .h2{ font-size: 1.75rem;}
  h3, .h3{ font-size: 1.5rem;}
  h4, .h4{ font-size: 1.25rem;}
  h5, .h5{ font-size: 1rem;}
  h6, .h6{ font-size: .75rem;}
}

.subheading {
  @extend %font-shared;
  color: $color-less;
}

