<mat-sidenav-container class="sidenav-container ">
  <!-- Sidenav content -->
  <mat-sidenav mode="side" opened>
    <a routerLink="/home" routerLinkActive="active" class="side-links">
      <i class="material-icons">home</i>
      <p>Home</p>
    </a>
    <a routerLink="/projects" routerLinkActive="active" class="side-links">
      <i class="material-icons">assessment</i>
      <p>Assessment</p>
    </a>
  </mat-sidenav>

  <!-- Body content -->
  <mat-sidenav-content>
    <!-- Router view goes here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>