button, .success, .warning, .disabled, .info, .bright {
  transition: all .1s ease-in-out; }

button, .success, .warning, .disabled, .info, .bright {
  background: #4f45aa;
  color: #FFFFFF;
  border: none;
  border-radius: 50px;
  padding: 6px 12px;
  min-width: 80px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer; }

.button__icon {
  border: 2px solid #4f45aa;
  color: #4f45aa;
  border-radius: 50%;
  padding: 2px;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  line-height: 24px;
  cursor: pointer; }

button:active {
  transform: scale(1.05); }

.success {
  background-color: #1dca7f;
  color: #FFFFFF; }

.warning {
  background-color: #ff3165;
  color: #FFFFFF; }

.disabled {
  background-color: #D3D3D3;
  color: #FFFFFF; }

.info {
  background-color: #4f87ec;
  color: #FFFFFF; }

.bright {
  background-color: #ffc927;
  color: #FFFFFF; }

button, .success, .warning, .disabled, .info, .bright, .subheading, input,
textarea, .auth-form--body input {
  font: Normal Normal 400 14px/150% 'Roboto', sans-serif;
  letter-spacing: -.02em;
  text-decoration: none;
  text-align: left;
  color: #333333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

h1, .h1 {
  color: #4f45aa; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  line-height: initial; }

p {
  margin: 0;
  display: inline-block; }

@media only screen and (min-width: 320px) {
  h1, .h1 {
    font-size: 2rem; }

  h2, .h2 {
    font-size: 1.5rem; }

  h3, .h3 {
    font-size: 1.25rem; }

  h4, .h4 {
    font-size: 1rem; }

  h5, .h5 {
    font-size: .75rem; }

  h6, .h6 {
    font-size: .5rem; } }
@media only screen and (min-width: 600px) {
  h1, .h1 {
    font-size: 2.25rem; }

  h2, .h2 {
    font-size: 1.75rem; }

  h3, .h3 {
    font-size: 1.5rem; }

  h4, .h4 {
    font-size: 1.25rem; }

  h5, .h5 {
    font-size: 1rem; }

  h6, .h6 {
    font-size: .75rem; } }
.subheading {
  color: #D3D3D3; }

button, .success, .warning, .disabled, .info, .bright, .subheading, input,
textarea, .auth-form--body input {
  font: Normal Normal 400 14px/150% 'Roboto', sans-serif;
  letter-spacing: -.02em;
  text-decoration: none;
  text-align: left;
  color: #333333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

h1, .h1 {
  color: #4f45aa; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  line-height: initial; }

p {
  margin: 0;
  display: inline-block; }

@media only screen and (min-width: 320px) {
  h1, .h1 {
    font-size: 2rem; }

  h2, .h2 {
    font-size: 1.5rem; }

  h3, .h3 {
    font-size: 1.25rem; }

  h4, .h4 {
    font-size: 1rem; }

  h5, .h5 {
    font-size: .75rem; }

  h6, .h6 {
    font-size: .5rem; } }
@media only screen and (min-width: 600px) {
  h1, .h1 {
    font-size: 2.25rem; }

  h2, .h2 {
    font-size: 1.75rem; }

  h3, .h3 {
    font-size: 1.5rem; }

  h4, .h4 {
    font-size: 1.25rem; }

  h5, .h5 {
    font-size: 1rem; }

  h6, .h6 {
    font-size: .75rem; } }
.subheading {
  color: #D3D3D3; }

input,
textarea, .auth-form--body input {
  background: transparent;
  border: 1px solid #D3D3D3;
  width: 100%;
  min-height: 30px;
  padding: 6px 8px;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075); }

.form-group {
  margin: 15px 0; }

.form-span {
  font-size: 12px;
  color: #7b7b7b;
  margin: 4px 0 2px; }

.auth-form {
  width: 340px;
  margin: 0 auto; }

.auth-form--header {
  text-align: center;
  margin-bottom: 24px; }
  .auth-form--header h2 {
    color: #4f45aa; }

.auth-form--img {
  width: 68px;
  height: 68px;
  margin: 32px 0 14px 0; }

.auth-form--body {
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  padding: 20px;
  transition: 1s; }

.auth-form--body label {
  display: block;
  margin-bottom: 7px; }

.auth-error {
  color: #ff3165;
  background-color: #ffeaef;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 2px;
  animation: 1s auth-error-anim forwards; }

@keyframes auth-error-anim {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
input[type="text"]:valid {
  border-color: #1dca7f; }

input[type="text"]:invalid {
  border-color: #ff3165; }

/* field value is valid */
/* field value is invalid */
/* field has not been clicked in, tapped on, or tabbed over */
/* field has been previously entered */
/* field value is unchanged from the default value */
/* field value has been modified from the default */
/* field has been unvisited and unchanged */
/* field has been previously visited, and is invalid */

/*# sourceMappingURL=app.component.css.map */
