

<mat-toolbar class="nav__background">
  <mat-toolbar-row>
    <mat-icon class="example-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <span>{{title}}</span>
    <input aria-label="search" placeholder="Search" type="search">
    <button mat-button>Home</button>
    <button mat-button>Calendar</button>
    <span class="example-spacer"></span>
    <button class="primary--text">Login</button>
    <button class="primary--button">Sign Up</button>
  </mat-toolbar-row>
</mat-toolbar>


<h1>{{university}}</h1>


<router-outlet></router-outlet>

<app-footer></app-footer>
