.subheading, button, .success, .warning, .disabled, .primary, .info, .bright, .input--button[type="button"], .input--inactive, .input--active, .input--error, .input--disabled {
  font: Normal Normal 400 14px/150% 'Roboto', sans-serif;
  margin: 0;
  letter-spacing: -.02em; }

.subheading {
  color: #D3D3D3; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  display: inline-block; }

input, textarea, select, button {
  outline: none; }

a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

button, .success, .warning, .disabled, .primary, .info, .bright, .input--button[type="button"] {
  transition: all .1s ease-in-out; }

button, .success, .warning, .disabled, .primary, .info, .bright, .input--button[type="button"] {
  background: transparent;
  border: 2px solid #333333;
  border-radius: 42px;
  color: #333333;
  padding: 6px 24px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer; }

.button__icon {
  border: 2px solid #4f45aa;
  color: #4f45aa;
  border-radius: 50%;
  padding: 2px;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  line-height: 24px;
  cursor: pointer; }

.button--borderless {
  border: none;
  padding: 6px;
  min-width: 80px;
  color: #4f45aa; }

button:active {
  transform: scale(1.05); }

.success {
  border-color: #1dca7f;
  color: #1dca7f; }

.warning {
  border-color: #ff3165;
  color: #ff3165; }

.disabled {
  border-color: #D3D3D3;
  color: #D3D3D3; }

.primary {
  border-color: #4f45aa;
  color: #4f45aa; }

.info {
  border-color: #4f87ec;
  color: #4f87ec; }

.bright {
  border-color: #ffc927;
  color: #ffc927; }

.subheading, button, .success, .warning, .disabled, .primary, .info, .bright, .input--button[type="button"], .input--inactive, .input--active, .input--error, .input--disabled {
  font: Normal Normal 400 14px/150% 'Roboto', sans-serif;
  margin: 0;
  letter-spacing: -.02em; }

.subheading {
  color: #D3D3D3; }

.subheading, button, .success, .warning, .disabled, .primary, .info, .bright, .input--button[type="button"], .input--inactive, .input--active, .input--error, .input--disabled {
  font: Normal Normal 400 14px/150% 'Roboto', sans-serif;
  margin: 0;
  letter-spacing: -.02em; }

.subheading {
  color: #D3D3D3; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  display: inline-block; }

input, textarea, select, button {
  outline: none; }

a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

button, .success, .warning, .disabled, .primary, .info, .bright, .input--button[type="button"] {
  transition: all .1s ease-in-out; }

button, .success, .warning, .disabled, .primary, .info, .bright, .input--button[type="button"] {
  background: transparent;
  border: 2px solid #333333;
  border-radius: 42px;
  color: #333333;
  padding: 6px 24px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer; }

.button__icon {
  border: 2px solid #4f45aa;
  color: #4f45aa;
  border-radius: 50%;
  padding: 2px;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  line-height: 24px;
  cursor: pointer; }

.button--borderless {
  border: none;
  padding: 6px;
  min-width: 80px;
  color: #4f45aa; }

button:active {
  transform: scale(1.05); }

.success {
  border-color: #1dca7f;
  color: #1dca7f; }

.warning {
  border-color: #ff3165;
  color: #ff3165; }

.disabled {
  border-color: #D3D3D3;
  color: #D3D3D3; }

.primary {
  border-color: #4f45aa;
  color: #4f45aa; }

.info {
  border-color: #4f87ec;
  color: #4f87ec; }

.bright {
  border-color: #ffc927;
  color: #ffc927; }

.subheading, button, .success, .warning, .disabled, .primary, .info, .bright, .input--button[type="button"], .input--inactive, .input--active, .input--error, .input--disabled {
  font: Normal Normal 400 14px/150% 'Roboto', sans-serif;
  margin: 0;
  letter-spacing: -.02em; }

.subheading {
  color: #D3D3D3; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  display: inline-block; }

input, textarea, select, button {
  outline: none; }

a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

.input--inactive, .input--active, .input--error, .input--disabled {
  background: transparent;
  border: 2px solid #D3D3D3;
  border-radius: 42px;
  padding: 6px 12px; }

.input--active {
  border-color: #4f45aa; }

.input--error {
  border-color: #ff3165; }

.input--disabled {
  border-color: #D3D3D3;
  background-color: #D3D3D3; }

/*# sourceMappingURL=app.component.css.map */
