/* Sass code that doesn't cause sass to output css i.e. mixin declarations, functions and variables */

.wrap {
  padding : 2em;
  display: block;
}

.container {
  background-color: $background-color;
  display: grid;
  grid-template-columns: 50% auto;
}

.col {
  padding: .4em 1.3em;
}

