// Using variables to call colors

$color-primary: #4f45aa;
$color-primary--dark: #272254;
$color-destructive: #ff3165;
$color-destructive--light: #ffeaef;
$color-bright: #ffc927;
$color-bright--dark: #ff9c00;
$color-go: #1dca7f;
$color-go--dark: #047870;
$color-info: #4f87ec;
$color-info--dark: #274375;
$color-less: #D3D3D3;
$text-color: #333333;
$background-color: #f9f9f9;
$color-white: #FFFFFF;

