// Using variables to call colors

$color-primary: #4f45aa;
$color-primary--dark: #272254;
$color-primary--light: #edecf6;
$color-destructive: #ff3165;
$color-destructive--dark: #7f1832;
$color-destructive--light: #ffeaef;
$color-bright: #ffc927;
$color-bright--dark: #ff9c00;
$color-bright--light: #fff9e9;
$color-go: #1dca7f;
$color-go--dark: #047870;
$color-go--light: #e8f9f2;
$color-info: #4f87ec;
$color-info--dark: #274375;
$color-info--light: #edf3fd;
$color-less: #D3D3D3;
$text-color: #333333;
$background-color: #fafafa;
$color-disabled: #7b7b7b;

