<mat-toolbar class="header">  
  <mat-toolbar-row class="container header-container">
    <div class="site-logo">
      <a routerLink="/home">
        <img width="auto" height="30" src="../../assets/images/favicon.png"/>
        <span>Circlearn</span>
      </a>  
    </div>
    <span class="fill-space"></span>
    <button><a routerLink="/register" routerLinkActive="active">Sign Up With Email</a></button>
    <span class="or-seperate">or</span> 
    <!-- input logo heres (Behance)-->
    <button>facebbook</button>
    <button>Google</button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <button><a routerLink="/login" routerLinkActive="active">Login</a></button> 
    <button><a routerLink="profile/42">Profile</a></button> 
-->
