@import "stylesheets/modules/colors";
@import "stylesheets/modules/all";
@import "stylesheets/partials/typography";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

html {
  display: block;
}

body {
  @extend %font-shared;
  font-size: 14px;
  background-color: $background-color;
  padding: 0;
  margin: 0 auto;
  display: block;
  color: $text-color;
}
