/* Primary Sass file */

// Modules and Variables
@import "stylesheets/modules/colors";
@import "stylesheets/modules/all";
@import "stylesheets/modules/utility";

// Partials
@import "stylesheets/partials/reset";
@import "stylesheets/partials/typography";
@import "stylesheets/partials/figures";
@import "stylesheets/partials/grids";
@import "stylesheets/partials/forms";
@import "stylesheets/partials/base";
@import "stylesheets/partials/buttons";

// Third-party
@import "stylesheets/vendor/colorpicker";
@import "stylesheets/vendor/jquery.ui.core";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

// Components SCSS
@import "app/home/home.component.scss";
@import "app/login-form/login-form.component.scss";
@import "app/register/register.component.scss";
@import "app/footer/footer.component.scss";
@import "app/navigation/navigation.component.scss";
@import "app/sidenavigation/sidenavigation.component.scss";
@import "app/login-form/login-form.component.scss";

// Styles
html, body {
  height: 100%;
  display: block;
}

body {
  @extend %font-shared;
  font-size: 14px;
  background-color: $background-color;
  padding: 0;
  margin: 0 auto;
  display: block;
  color: $text-color;
}

* {
  box-sizing: border-box;
}
