
<div class="container heading-fancy">
  <div class="col">
    <h2>Add a subject</h2>
  </div>
  <div class="col">
    <h2>Your subject ({{subjectCount}})</h2>
  </div>
</div>

<div class="container">
  <div class="col">
    <p class="sm ">Use this form below to add a new Subject</p>

    <form>
      <input type="text" class="input--inactive" name="subject" placeholder="subject..." [(ngModel)]="subjectText">
      <!--<input type="submit" class="button primary" [value]="btnText" (click)="addSubject()">-->
    </form>
  </div>
  <div class="col">
    <p *ngFor="let subject of subjects; let i = index" (click)="removeSubject(i)"> {{subject}}</p>
  </div>
</div>


<!--<h1>Our favourite subject: {{favSubject.name}}</h1>-->
<hr>
<h3>subjects:</h3>
<ul>
  <li *ngFor="let subject of subjects">
    {{subject.name}}
  </li>
</ul>