.register-form--container {
  display: block;
  width: 60%;
  padding-top: 5em;
  margin: 0 auto;
}

.register-form--container label {
  display: block;
}

.register-steps {
  display: table;
  width: 100%;
  padding: 0;
  margin: 24px 0 30px;
  overflow: hidden;
  background: transparent;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(27,31,35,0.05);
}

.register-steps--container {
  display: table-cell;
  width: 33.3%;
  padding: 10px 15px;
  strong {
    display: block;
  }
  i {
    float: left;
    margin-right: 25px;
    font-size: 42px
  }
}

.mat-stepper-horizontal {
  background: transparent;
}